[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
web-pdb = "*"

[packages]
requests = "*"
xmltodict = "*"
npyscreen = "*"
easydict = "*"
ipdb = "*"
ipython = "*"
web-pdb = "*"
